*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top right;
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
}

.search-form__submit-button {
  padding-left: 5px;
  width: 194px;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  appearance: none;
  cursor: url(../cursor.svg), text;
  width: 225px;
  height: 27px;
  background: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  border: none;
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid #FFF;
}

.search-form__label,
.button {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  outline: 1px solid #FFF;
  outline-offset: 1px;
  background: transparent;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #FFF;
}

.title {
  color: #FFF;
  font-family: Oswald, 'Arial', 'Helvetica', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  max-height: 298px;
  flex-direction: column;
  align-items:flex-end;
  gap: 30px;
  overflow: auto;
}

.content__list-item {
  width: 100%;
}

.content__card-link {
  color: inherit;
  display: block;
  text-decoration: none;
  margin: 1px;
}

.content__card-link:hover { 
  text-decoration: underline solid #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 0;
}

.content__card-link:focus {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding: 5px 2px;
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-style: normal;
}

.content__video-card-title {
  font-family: Oswald, 'Arial', 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}

.button {
  height: 34px;
  align-self: flex-end;
  background-color: transparent;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:active {
  background: #545050;
}

.button:hover, 
.search-form__label-text:hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.more-button {
  width: 399px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}